# See https://git-scm.com/docs/git-config

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[init]
	defaultBranch = main
[pull]
	rebase = true 			 # Rebase (instead of merge) on pull
[push]
	autoSetupRemote = true   # Automatically set upstream branch on push
[diff]
	algorithm = histogram    # Clearer diffs on moved/edited lines
	colorMoved = plain       # Highlight moved blocks in diffs
	mnemonicPrefix = true    # More intuitive refs in diff output
[commit]
	verbose = true           # Include diff comment in commit message template
[column]
	ui = auto 			     # Output in columns when possible
[branch]
	sort = -committerdate    # Sort branches by most recent commit first
[tag]
	sort = -version:refname  # Sort version numbers as you would expect
[rerere]
	enabled = true           # Record and reuse conflict resolutions
	autoupdate = true        # Apply stored conflict resolutions automatically
[user]
	name = {{ .git_name | quote }}
	email = {{ .git_email | quote }}
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictStyle = zdiff3

[delta]
	navigate = true
	features = catppuccin-mocha

[delta "catppuccin-mocha"]
	dark = true
	syntax-theme = Catppuccin Mocha
	blame-palette = "#1e1e2e #181825 #11111b #313244 #45475a"
	commit-decoration-style = "#6c7086" bold box ul
	file-decoration-style = "#6c7086"
	file-style = "#cdd6f4"
	hunk-header-decoration-style = "#6c7086" box ul
	hunk-header-file-style = bold
	hunk-header-line-number-style = bold "#a6adc8"
	hunk-header-style = file line-number syntax
	line-numbers-left-style = "#6c7086"
	line-numbers-minus-style = bold "#f38ba8"
	line-numbers-plus-style = bold "#a6e3a1"
	line-numbers-right-style = "#6c7086"
	line-numbers-zero-style = "#6c7086"
	# 35% red 65% base
	minus-emph-style = bold syntax "#694559"
	# 20% red 80% base
	minus-style = syntax "#493447"
	# 35% green 65% base
	plus-emph-style = bold syntax "#4e6356"
	# 20% green 80% base
	plus-style = syntax "#394545"
	map-styles = \
		bold purple => syntax "#5b4e74", \
		bold blue => syntax "#445375", \
		bold cyan => syntax "#446170", \
		bold yellow => syntax "#6b635b"
